.list {
  margin: 50px auto;
  max-width: 344px;
  height: auto;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 8px 8px 9px -5px #c9cace;
  border-radius: 5px;
}

.list h2 {
  border-bottom: 1px solid lightgrey;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 25px;
}

.item {
  margin: 30px;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  align-items: center;
  width: 60%;
}

.name {
  font-size: 1.5rem;
  justify-self: center;
}

.offline,
.online {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 50%;
  justify-self: center;
}
.offline {
  background-color: red;
}
.online {
  background-color: green;
}

.avatar {
  border-radius: 50%;
  border: 1px solid lightgray;
  padding: 15px;
  background-color: #fff;
  justify-self: center;
}
